[run]
   omit =
      /usr/*
      /opt/*
      /etc/*
      */tools/tests/*
   data_file = /home/.coverage	
[paths]
   source =
    runners/
    */runners/
[html]
   directory = /home/coverage_reports