<?xml version="1.0" encoding="UTF-8"?>
<html>

<body>
    <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="0"
        style="width:446.0pt; border-collapse:collapse">
        <tbody>
            <tr style="height:13.5pt">
                <td width="595" nowrap="" colspan="4" valign="bottom"
                    style="width:446.0pt; border:solid windowtext 1.0pt; background:#FFC000; padding:0in 5.4pt 0in 5.4pt; height:13.5pt">
                    <p class="x_MsoNormal" align="center" style="text-align:center"><b><span
                                style="font-size:10.0pt; color:black">Hardware (${hostname}) /
                                ${JOB_BASE_NAME}</span></b></p>
                </td>
            </tr>

            <tr style="height:13.5pt">
                <td width="288" nowrap="" colspan="3" valign="bottom"
                    style="width:216.3pt; border:solid windowtext 1.0pt; border-top:none; background:#E7E6E6; padding:0in 5.4pt 0in 5.4pt; height:13.5pt">
                    <p class="x_MsoNormal" align="center" style="text-align:center"><b><span
                                style="font-size:10.0pt; color:black">Motherboard</span></b></p>
                </td>
                <td width="306" nowrap="" valign="bottom"
                    style="width:229.7pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt; height:13.5pt">
                    <p class="x_MsoNormal" align="center" style="text-align:center"><span
                            style="font-size:10.0pt; color:black">${motherboard}</span></p>
                </td>
            </tr>


            % for name, val in cpu.items():
            <tr style="height:14.5pt">
                % if loop.index is 0:
                <td width="66" nowrap="" rowspan="${len(cpu.items())}"
                    style="width:49.35pt; border-top:none; border-left:solid windowtext 1.0pt; border-bottom:solid black 1.0pt; border-right:none; background:#E7E6E6; padding:0in 5.4pt 0in 5.4pt; height:14.5pt">
                    <p class="x_MsoNormal"><b><span style="font-size:10.0pt; color:black">CPU</span></b></p>
                </td>
                % endif

                <td width="223" nowrap="" colspan="2" valign="bottom"
                    style="width:166.95pt; border-top:none; border-left:solid windowtext 1.0pt; border-bottom:solid windowtext 1.0pt; border-right:solid black 1.0pt; background:#E7E6E6; padding:0in 5.4pt 0in 5.4pt; height:14.5pt">
                    <p class="x_MsoNormal"><b><span style="font-size:10.0pt; color:black">${name}</span></b></p>
                </td>

                <td width="306" nowrap="" valign="bottom"
                    style="width:229.7pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt; height:14.5pt">
                    <p class="x_MsoNormal" align="center" style="text-align:center"><span
                            style="font-size:10.0pt; color:black">${val}</span></p>
                </td>
            </tr>
            % endfor


            % for name, val in gpu.items():
            <tr style="height:14.5pt">
                % if loop.index is 0:
                <td width="66" nowrap="" rowspan="${len(gpu.items())}"
                    style="width:49.35pt; border-top:none; border-left:solid windowtext 1.0pt; border-bottom:solid black 1.0pt; border-right:none; background:#E7E6E6; padding:0in 5.4pt 0in 5.4pt; height:14.5pt">
                    <p class="x_MsoNormal"><b><span style="font-size:10.0pt; color:black">GPU</span></b></p>
                </td>
                % endif

                <td width="223" nowrap="" colspan="2" valign="bottom"
                    style="width:166.95pt; border-top:none; border-left:solid windowtext 1.0pt; border-bottom:solid windowtext 1.0pt; border-right:solid black 1.0pt; background:#E7E6E6; padding:0in 5.4pt 0in 5.4pt; height:14.5pt">
                    <p class="x_MsoNormal"><b><span style="font-size:10.0pt; color:black">${name}</span></b></p>
                </td>

                <td width="306" nowrap="" valign="bottom"
                    style="width:229.7pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt; height:14.5pt">
                    <p class="x_MsoNormal" align="center" style="text-align:center"><span
                            style="font-size:10.0pt; color:black">${val}</span></p>
                </td>
            </tr>
            % endfor

            % for tuple in memory:
            <tr style="height:14.5pt">
                % if loop.index is 0:
                <td width="66" nowrap="" rowspan="${(len(memory[0].items())+1) * len(memory)}"
                    style="width:49.35pt; border-top:none; border-left:solid windowtext 1.0pt; border-bottom:solid black 1.0pt; border-right:none; background:#E7E6E6; padding:0in 5.4pt 0in 5.4pt; height:13.0pt">
                    <p class="x_MsoNormal"><b><span style="font-size:10.0pt; color:black">Memory</span></b></p>
                </td>
                % endif

                <td>
                    % for name, val in tuple.items():
            <tr style="height:14.5pt">
                <td width="100" nowrap="" colspan="2" valign="bottom"
                    style="width:166.95pt; border-top:none; border-left:solid windowtext 1.0pt; border-bottom:solid windowtext 1.0pt; border-right:solid black 1.0pt; background:#E7E6E6; padding:0in 5.4pt 0in 5.4pt; height:14.5pt">
                    <p class="x_MsoNormal"><b><span style="font-size:10.0pt; color:black">${name}</span></b></p>
                </td>

                <td width="300" nowrap="" valign="bottom"
                    style="width:229.7pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt; height:14.5pt">
                    <p class="x_MsoNormal" align="center" style="text-align:center"><span
                            style="font-size:10.0pt; color:black">${val}</span></p>
                </td>
            </tr>
            % endfor

            </td>
            </tr>
            % endfor

            % for tuple in opencl:
            <tr style="height:14.5pt">
                % if loop.index is 0:
                <td width="66" nowrap="" rowspan="${(len(opencl[0].items())+1) * len(opencl)}"
                    style="width:49.35pt; border-top:none; border-left:solid windowtext 1.0pt; border-bottom:solid black 1.0pt; border-right:none; background:#E7E6E6; padding:0in 5.4pt 0in 5.4pt; height:13.0pt">
                    <p class="x_MsoNormal"><b><span style="font-size:10.0pt; color:black">OpenCL</span></b></p>
                </td>
                % endif

                <td>
                    % for name, val in tuple.items():
            <tr style="height:14.5pt">
                <td width="100" nowrap="" colspan="2" valign="bottom"
                    style="width:166.95pt; border-top:none; border-left:solid windowtext 1.0pt; border-bottom:solid windowtext 1.0pt; border-right:solid black 1.0pt; background:#E7E6E6; padding:0in 5.4pt 0in 5.4pt; height:14.5pt">
                    <p class="x_MsoNormal"><b><span style="font-size:10.0pt; color:black">${name}</span></b></p>
                </td>

                <td width="300" nowrap="" valign="bottom"
                    style="width:229.7pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt; height:14.5pt">
                    <p class="x_MsoNormal" align="center" style="text-align:center"><span
                            style="font-size:10.0pt; color:black">${val}</span></p>
                </td>
            </tr>
            % endfor

            </td>
            </tr>
            % endfor

            % for name, val in bios.items():
            <tr style="height:14.5pt">
                % if loop.index is 0:
                <td width="66" nowrap="" rowspan="${len(bios.items())}"
                    style="width:49.35pt; border-top:none; border-left:solid windowtext 1.0pt; border-bottom:solid black 1.0pt; border-right:none; background:#E7E6E6; padding:0in 5.4pt 0in 5.4pt; height:14.5pt">
                    <p class="x_MsoNormal"><b><span style="font-size:10.0pt; color:black">BIOS</span></b></p>
                </td>
                % endif

                <td width="223" nowrap="" colspan="2" valign="bottom"
                    style="width:166.95pt; border-top:none; border-left:solid windowtext 1.0pt; border-bottom:solid windowtext 1.0pt; border-right:solid black 1.0pt; background:#E7E6E6; padding:0in 5.4pt 0in 5.4pt; height:14.5pt">
                    <p class="x_MsoNormal"><b><span style="font-size:10.0pt; color:black">${name}</span></b></p>
                </td>

                <td width="306" nowrap="" valign="bottom"
                    style="width:229.7pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt; height:14.5pt">
                    <p class="x_MsoNormal" align="center" style="text-align:center"><span
                            style="font-size:10.0pt; color:black">${val}</span></p>
                </td>
            </tr>
            % endfor

            % for name, val in os.items():
            <tr style="height:14.5pt">

                % if loop.index is 0:
                <td width="66" nowrap="" rowspan="${len(os.items())}"
                    style="width:49.35pt; border-top:none; border-left:solid windowtext 1.0pt; border-bottom:solid black 1.0pt; border-right:none; background:#E7E6E6; padding:0in 5.4pt 0in 5.4pt; height:14.5pt">
                    <p class="x_MsoNormal"><b><span style="font-size:10.0pt; color:black">OS</span></b></p>
                </td>
                % endif

                <td width="223" nowrap="" colspan="2" valign="bottom"
                    style="width:166.95pt; border-top:none; border-left:solid windowtext 1.0pt; border-bottom:solid windowtext 1.0pt; border-right:solid black 1.0pt; background:#E7E6E6; padding:0in 5.4pt 0in 5.4pt; height:14.5pt">
                    <p class="x_MsoNormal"><b><span style="font-size:10.0pt; color:black">${name}</span></b></p>
                </td>

                <td width="306" nowrap="" valign="bottom"
                    style="width:229.7pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt; height:14.5pt">
                    <p class="x_MsoNormal" align="center" style="text-align:center"><span
                            style="font-size:10.0pt; color:black">${val}</span></p>
                </td>
            </tr>
            % endfor

            <tr style="height:13.5pt">
                <td width="595" nowrap="" colspan="4" valign="bottom"
                    style="width:446.0pt; border:solid windowtext 1.0pt; background:#FFC000; padding:0in 5.4pt 0in 5.4pt; height:13.5pt">
                    <p class="x_MsoNormal" align="center" style="text-align:center"><b><span
                                style="font-size:10.0pt; color:black">Software</span></b></p>
                </td>
            </tr>

            % for name, val in software.items():
            <tr style="height:15.0pt">
                <td width="66" nowrap="" valign="bottom"
                    style="width:49.35pt; border:solid windowtext 1.0pt; background:#E7E6E6; border-top:none; padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
                    <p class="x_MsoNormal"><b><span style="font-size:10.0pt; color:black">${name}</span></b></p>
                </td>
                <td width="529" nowrap="" colspan="3" valign="bottom"
                    style="width:396.65pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid black 1.0pt; padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
                    <p class="x_MsoNormal"><span style="font-size:10.0pt; color:black">${val}</span></p>
                </td>
            </tr>
            % endfor

            % if topologies:
            <tr style="height:13.5pt">
                <td width="595" nowrap="" colspan="4" valign="bottom"
                    style="width:446.0pt; border:solid windowtext 1.0pt; background:#FFC000; padding:0in 5.4pt 0in 5.4pt; height:13.5pt">
                    <p class="x_MsoNormal" align="center" style="text-align:center"><b><span
                                style="font-size:10.0pt; color:black">Topologies</span></b></p>
                    % for name, framework in topologies:
            <tr style="height:15.0pt">
                <td width="66" nowrap="" valign="bottom"
                    style="width:49.35pt; border:solid windowtext 1.0pt; background:#E7E6E6; border-top:none; padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
                    <p class="x_MsoNormal"><b><span style="font-size:10.0pt; color:black">${loop.index + 1}</span></b>
                    </p>
                </td>
                <td width="66" nowrap="" colspan="1" valign="bottom"
                    style="width:49.35pt; border-top:none; border-left:none; border-bottom:solid windowtext 1.0pt; border-right:solid black 1.0pt; padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
                    <p class="x_MsoNormal"><span style="font-size:10.0pt; color:black">${framework}</span></p>
                <td width="463" nowrap="" colspan="3" valign="bottom"
                    style="width:347.3pt; border-top:none; border-bottom:solid windowtext 1.0pt; border-right:solid black 1.0pt; padding:0in 5.4pt 0in 5.4pt; height:15.0pt">
                    <p class="x_MsoNormal"><span style="font-size:10.0pt; color:black">${name}</span></p>
                </td>
            </tr>
            % endfor
            </td>
            </tr>
            % endif

            % if system_log:
            <tr style="height:13.5pt">
                <td width="595" nowrap="" colspan="4" valign="bottom"
                    style="width:446.0pt; border:solid windowtext 1.0pt; background:#FFC000; padding:0in 5.4pt 0in 5.4pt; height:13.5pt">
                    <p class="x_MsoNormal" align="center" style="text-align:center"><b><span
                                style="font-size:10.0pt; color:black">System log</span></b></p>
            </tr>
            <tr style="height:13.5pt">
                <td width="595" nowrap="" colspan="4" valign="bottom"
                    style="width:446.0pt; border:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt; height:13.5pt">
                    <p class="x_MsoNormal"><span
                            style="font-size:10.0pt; color:black; white-space: pre-line;">${system_log}</span></p>
            </tr>
            % endif

        </tbody>
    </table>
</body>

</html>